import struct

class {{ class_name }}:
    def __init__(self, {% for field in fields %}{{ field.name }}{% if not loop.last %}, {% endif %}{% endfor %}):
        {% for field in fields %}
        self.{{ field.name }} = {{ field.name }}
        {% endfor %}

    def serialize(self) -> bytes:
        # Format: {{ struct_format }}
        return struct.pack('{{ struct_format }}', {% for field in fields %}self.{{ field.name }}{% if not loop.last %}, {% endif %}{% endfor %})

    @classmethod
    def deserialize(cls, data: bytes):
        unpacked = struct.unpack('{{ struct_format }}', data)
        return cls({% for field in fields %}unpacked[{{ loop.index0 }}]{% if not loop.last %}, {% endif %}{% endfor %})

    def __repr__(self):
        return f"{{ class_name }}({% for field in fields %}{{ field.name }}={self.{{ field.name }}}{% if not loop.last %}, {% endif %}{% endfor %})"